@charset "UTF 8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
  

}


table{
    width: 1000px;
    border-collapse: collapse;
    position: relative;
    text-align: center;
    font-size: 18px;
}

td, th{
    border: solid black ;
    padding: 10px;

}

thead, tfoot{
    background-color: gray;
    color: white;
}

thead > tr > th {
    position: sticky;
    top: -1px;
    background-color: #383838
}
tbody > tr:nth-child(2n){
    background-color: lightgrey;
}

h1 {
    padding: 40px;
    text-align: center;

}

h2{
    padding: 30px;
    text-align: center;
}


