@charset "UTF 8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
  

}

nav{
padding: 20px;
background-color: gray;
margin: 20px 0px;

}

nav > a{
color: red;
padding: 10px;
text-decoration: none;
font-weight: bold;
transition-duration: 0.5s;
margin-bottom: 20px;
}

nav > a:hover{
    background-color: aqua;
    color: green;

}



n

av > a{

}

table{
    width: 1000px;
    border-collapse: collapse;
    position: relative;
    text-align: center;
    font-size: 18px;
    
}

td, th{
    border: solid black ;
    padding: 10px;

}

thead, tfoot{
    background-color: gray;
    color: white;
}

thead > tr > th {
    position: sticky;
    top: -1px;
    background-color: #383838
}
tbody > tr:nth-child(2n){
    background-color: lightgrey;
}

h1 {
    padding: 40px;
    text-align: center;

}




